.float-left { float: left; }
.float-right { float: right; }

.text-center { text-align: center; }
.text-right { text-align: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.m-0 { margin: 0; }

.pt-1 { padding-top: calc(var(--spacing-block) * 1); }

.color-gray-light { color: var(--color-gray-light); }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
